<div class="pwd-form">
  <span class="close" (click)="onCloseModal()"><i class="fa fa-times" aria-hidden="true"></i></span>
  <div class="alert" [ngClass]="{'alert-success': message === 'Mail sent, please check your email', 'alert-danger': message === 'Failed to send email. Please try again.'}" *ngIf="message">{{ message }}</div>

  <h2>Forgot Password</h2>
  <div class="form-group">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <input type="email" placeholder="email@gmail.com" name="email" id="email" [(ngModel)]="email" required>
    <div class="line"></div>
  </div>



  <div class="button">
    <button type="submit" class="button" (click)="forgotPassword()">Send Email</button>
  </div>

</div>
