<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">À Propos de Notre Application</h2>
                <p class="text-white-50" >
                    Notre application de gestion des congés représente
                     l'aboutissement de notre engagement envers l'efficacité 
                     opérationnelle et le bien-être des employés. Conçue avec une
                      attention méticuleuse aux détails et une expertise technologique de pointe,
                       notre plateforme offre une solution intégrée pour simplifier la gestion des
                        congés au sein de votre entreprise. En mettant l'accent sur la convivialité 
                        et la fonctionnalité, nous visons à fournir à votre organisation un outil
                         puissant et transparent pour la gestion des absences. Avec notre application,
                          vous pouvez compter sur une approche professionnelle et rigoureuse qui répond
                           aux exigences les plus élevées en matière de gestion des ressources humaines <br>

                <!--<a href="">the preview page.</a>-->    
                </p>
                <img class="img-fluid" src="../../../assets/img/2-removebg-preview (1).png" alt="..." width="600" height="900"/>

            </div>
        </div>
    </div>
</section>
