

<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="/assets/css/style.css">

<script src="/assets/js/script.js"></script>
<app-sidebar ></app-sidebar>

<div >
<section id="content" >
<app-navbar></app-navbar>


  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li (click)="redirectToHome()">
            <a class="active" >Acceuil</a>
          </li>
        </ul>
      </div>
   
    </div>

    <ul class="box-info"  *ngIf="userProfile?.role !== 'ADMIN' && userProfile?.role !== 'CHEF'" >
      <ul>
        <li>
          <i class=" bx fas fa-hourglass"></i>
          <span class="text">
            <h3>{{ solde }}</h3>
            <p>SOLDE</p>
          </span>
        </li>
      </ul>
      
      <li>
        <i class='bx bxs-calendar-check'></i> 
        <span class="text">
          <h3>{{ congesCount }}</h3>
          <p>DEMANDES</p>
        </span>
      </li>
      
     
  <li>
    <i class=" bx fas fa-check-circle"></i>
    <span class="text">
      <h3>{{ percentageOfConfirmedConges }}%</h3>
      <p> CONFIRMES ({{ countOfCongesConfirmer }})</p>
    </span>
  </li>
 
    </ul>



    <div class="table-data">
  <app-percongechart  *ngIf="userProfile?.role !== 'ADMIN' && userProfile?.role !== 'CHEF'"></app-percongechart>

  <app-congechart *ngIf="userProfile?.role !== 'EMPLOYEE' && userProfile?.role !== 'ADMIN'"></app-congechart>


 
  <div *ngIf="userProfile?.role !== 'EMPLOYEE' && userProfile?.role !== 'CHEF'">
    <app-role-chart *ngIf="userProfile"></app-role-chart>




</div>
    </div>
        
     

   
      
  </main> 
 
  
</section>
</div>




