<section class="contact-section bg-dark" id="contact">
    <div class="container">
        <h2 class="section-title">Contactez-nous</h2>
        <h3 class="section-subtitle">Restez en contact avec Leavesoft</h3>
        <div >
            <div >
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <div class="contact-item-box">
                            <i class="fas fa-map-marker-alt"></i>
                            <h4>Siege Social</h4>
                            <p>Rue 8368 - Bloc A - <br>Espace el Aziz - <br> Lot Ennassim - Montplaisir <br>- 1073 Tunis - Tunisie</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="contact-item-box">
                            <i class="fas fa-phone"></i>
                            <h4>Phone</h4>
                            <p>+216.71.95.12.48</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="contact-item-box">
                            <i class="fas fa-fax"></i>
                            <h4>Fax</h4>
                            <p>+216.71.95.10.44</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="contact-item-box">
                            <i class="fas fa-envelope"></i>
                            <h4>Email</h4>
                            <p>arabsoft:arabsoft.com.tn<br>marketingara:bsoft.com.tn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
