<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="currentPassword">Current Password:</label>
      <input type="password" class="form-control" id="currentPassword" name="currentPassword" [(ngModel)]="changePasswordRequest.currentPassword" required>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="changePasswordRequest.newPassword" required>
    </div>
    <div class="form-group">
      <label for="confirmationPassword">Confirm New Password:</label>
      <input type="password" class="form-control" id="confirmationPassword" name="confirmationPassword" [(ngModel)]="changePasswordRequest.confirmationPassword" required>
    </div>
  
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
  