
<!-- Boxicons -->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<!-- My CSS -->
<link rel="stylesheet" href="/assets/css/style.css">
<!-- My js -->
<script src="/assets/js/script.js"></script>
<app-sidebar ></app-sidebar>
<!-- CONTENT -->
<div >
<section id="content" >
<app-navbar></app-navbar>

  <!-- MAIN -->
  <main>


    <div class="head-title">
      <div class="left">
        <h1>Notifications</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Notifications</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active"  (click)="redirectToHome()">Acceuil</a>
          </li>
        </ul>

      </div>


    </div>
    <div class="table-data">
      <div class="order">
        <table >
        <thead>
          <tr>
            <th >Titre</th>
            <th>Contenu</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notification of notifications" class="notification-item">
            <td class="blue-text">{{ notification.subject }}</td>
            <td>{{ notification.content }}</td>
            <td>
              <button type="button" class="delete" (click)="deleteNotification(notification)">
                <i class="fa-solid fa-trash" style="color: #261b91;" title="Supprimer"></i>
              </button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
    </div>