<h3> View Personnel Details</h3>
<div>
    <div>
        <label> <b> id: </b></label> {{personnel.id}}
    </div>
    <div>
        <label> <b> id: </b></label> {{personnel.matricule}}
    </div>
    
    <div>
        <label> <b> nom: </b></label> {{personnel.nom}}
    </div>
    <div>
        <label> <b> prenom: </b></label> {{personnel.prenom}}
    </div>
    <div>
        <label> <b> cin: </b></label> {{personnel.cin}}
    </div>
    <div>
        <label> <b> role: </b></label> {{personnel.role}}
    </div>
    <div>
        <label> <b> service: </b></label> {{personnel.service}}
    </div>
    <div>
        <label> <b> email: </b></label> {{personnel.email}}
    </div>
    <div>
        <label> <b> tel: </b></label> {{personnel.tel}}
    </div>
    <div>
        <label> <b> sexe: </b></label> {{personnel.sexe}}
    </div>
    <div>
        <label> <b> nbrEnfant: </b></label> {{personnel.nbrEnfant}}
    </div>
   
    <div>
        <label> <b> login: </b></label> {{personnel.login}}
    </div>
    <div>
        <label> <b> password: </b></label> {{personnel.password}}
    </div>

</div>
