.calendar-container {
    width: 1100px; 
    height: 600px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 

}


