
<!---->

<!-- Boxicons -->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<!-- My CSS -->
<link rel="stylesheet" href="/assets/css/style.css">
<!-- My js -->
<script src="/assets/js/script.js"></script>
<app-sidebar  ></app-sidebar>
<!-- CONTENT -->
<div >
<section id="content" >
<app-navbar></app-navbar>

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Employés</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Employés</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" [routerLink]="['/home']" >Acceuil</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Employés</h3>
          <i class='bx bx-search' title="Rechercher" (click)="openSearchBox()"></i>
          <div *ngIf="showSearchBox" class="search-box">
            <input #searchInput type="text" placeholder="Rechercher ..."  (keyup.enter)="searchUsers(searchInput.value)" >
          </div>          <div>
            <i class='bx bx-plus add-new-icon' (click)="openModal('EMPLOYEE')" title="Ajouter Employe" ></i>
          </div>

          <div class="modal-container" *ngIf="showModal">
            <app-ajouteruser role="EMPLOYEE"></app-ajouteruser>
            <span class="close-icon" (click)="closeModal()">
              <i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Cin</th>
              <th>Matricule</th>
              <th>nom  </th>
              <th>Prenom </th>
              <th>adresse </th>
              <th>service </th>
              <th>tel </th>
              <th>statut</th>
              <th>nbre enfant </th>
              <th>sexe</th>
              <th>role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employe of employes">
              <td>

              </td>
              <td> {{employe.cin}}</td>
              <td> {{employe.matricule}}</td>
              <td> {{employe.nom}}</td>
              <td>{{ employe.prenom }}</td>
              <td>{{ employe.email }}</td>
              <td>{{ employe.service }}</td>
              <td>{{ employe.tel }}</td>
              <td>{{employe.statut}}</td>
              <td>{{ employe.nbrEnfant }}</td>
              <td>{{ employe.sexe }}</td>
              <td>{{ employe.role }}</td>
              <td>
              <a class="edit " data-toggle="modal" (click)="afficherEmploye(employe.id)">
              <i class="fa-solid fa-pen " style="color:#000080;" title="Modifier" ></i>
              </a>&nbsp;
              <a  class="delete" (click)="afficherConfirmationSuppression(employe.id)">
                <i class="fa-solid fa-trash" style="color: red;" title="Supprimer"></i>
              </a>

              </td>
             </tr>
          </tbody>
        </table>
      </div>

    </div>




  </main>
</section>
</div>
<div class="modal-container" *ngIf="employeIdToDelete !== null">
  <div class="confirmation-box">
    <p>Voulez-vous supprimer cet Employé ?</p>
    <div class="button-container">
      <button class="confirm-button" (click)="supprimerEmployeConfirmation()">Oui</button>
      <button class="cancel-button" (click)="annulerSuppression()">Non</button>
    </div>
  </div>
</div>

