.form-container {
    width: 80%;
    max-width: 400px;
    margin: 70px auto 0; /* Adjust the top margin as needed */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}


.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    height: 40px; /* Set the height */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}


.navbar{
    background-color: rgb(85, 84, 84);
    min-height: 11vh;
    display: flex; 
    flex-direction: column; 
  }
  

    
      
  .btn {
    background: #261b91 ;
    border: 1px solid #261b91 ;
    color: #fff ;
    border-radius: 20px;
    font-size: 16px;
}

.btn:hover {
    background: #261b91 ;
    border-color: #181b74 ;
    color: #fff ;
}




.alert {
    position: relative;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
  }
  

  /* eye */
  
  
  .password-input {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  

  .toggle-password i {
    color: #aaa;
    font-size: 18px;
  }
  