<div class="navbar"><app-navigation ></app-navigation></div>

<div class="form-container">
  <div class="alert" [ngClass]="{'alert-success': message === 'Password Changed!!', 'alert-danger': message === 'Failed to change password. Please try again.'}" *ngIf="message">{{ message }}</div>

  <h2>Set Password</h2>
  <form (ngSubmit)="setPassword()" class="form">
      <div class="input-group">
          <label>Email:</label>
          <input type="email" [(ngModel)]="email" name="email" required>
      </div>
  <div class="input-group">
  <label>New Password:</label>
  <div class="password-input">
    <input type="{{ showNewPassword ? 'text' : 'password' }}" [(ngModel)]="newPassword" name="newPassword" required>
    <div class="toggle-password" (click)="togglePasswordVisibility('newPassword')">
      <i class="fa" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
    </div>
  </div>
</div>
<div class="input-group">
  <label>Confirm Password:</label>
  <div class="password-input">
    <input type="{{ showConfirmPassword ? 'text' : 'password' }}" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    <div class="toggle-password" (click)="togglePasswordVisibility('confirmPassword')">
      <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
    </div>
  </div>
</div>

      <br>
      <button type="submit" class="btn">Set Password</button>
  </form>
</div>
