.background-box {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Change height to min-height */
}

.formulaire-container {
  background-color: #fff;
  padding: 10px 20px 30px; /* Adjust top padding to move inputs up */
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conge-form {
  width: 100%;
  max-width: 500px;
}


/* Other CSS styles remain the same */
.form-group {
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 10px; 
}

.small-input {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.file-input {
  padding-top: 8px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #261b91;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #261b91;
}

.form-control.rounded {
  border-radius: 20px; 
}

.form-title {
  font-size: 24px; 
  text-align: center; 
  margin-bottom: 20px;
  color: #333;
}
.form-group {
  display: flex;
}

.input-container {
  flex: 1;
  margin-right: 10px; /* Adjust spacing between input containers */
}

.input-container:last-child {
  margin-right: 0; /* Remove right margin for the last input container */
}
