<h2>Chef List </h2>
<table class="table table-striped">
    <thead>
        <tr>
          <th>id</th>
            <th>nom</th>
            <th>prenom</th>
           <th>login</th>
            <th>password</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor ="let personnel of personnels">
          <td>{{personnel.id}}</td>
           <td>{{personnel.nom}}</td>
           <td>{{personnel.prenom}}</td>
    
           <td>{{personnel.login}}</td>
           <td>{{personnel.password}}</td>
          
      <td>
       
        <button (click) = "modifierPersonnel(personnel.id)" class="btn btn-info">Modifier</button>
      </td>
      <td>
        <button (click) = "supprimerPersonnel(personnel.id)" class="btn btn-danger">Supprimer</button>
      </td>
         </tr>
    </tbody>
</table>

