<h2>conge list </h2>

<table >
    <thead>
        <tr>
          <th>id</th>
          <th>type</th>
            <th>datedem</th>
            <th>datedeb</th>
            <th>datefin</th>
            <th>duree</th>
            <th>statut</th>
            <th>solde</th>
            <th>motif</th>
           
           
          
        </tr>
    </thead>
    <tbody>
         <tr *ngFor ="let conge of conges">
          <td>{{conge.id}}</td>
          <td>{{conge.type}}</td>
           <td>{{conge.date_demande}}</td>
           <td>{{conge.date_debut}}</td>
           <td>{{conge.date_fin}}</td>
           <td>{{conge.duree}}</td>
           <td>{{conge.statut}}</td>
           <td>{{conge.motif}}</td>
          
           
          
      <td>
       
        <td>
       
     
          <td>
            <button (click)="confirmerConge(conge.id)">Confirmer</button>
          </td>
          <td>
            <button (click)="refuserConge(conge.id)">Refuser</button>
          </td>
          
    </tbody>
</table>
